* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    padding-top: 140px;
}

header {
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #003A66;
    display: block;
    z-index: 100;   
}

header h1 {
    margin: 15px 0;
    font-family: "Utopia", "Calisto MT", "Georgia", "Helvetica", Arial;
    color: #FFF;
    text-align: center;
    font-size: 2.8vw;
}

.wrapp {
    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto
}

img {
    width: 80%;
    float: right;
}

#ujed {
    float: left;
}

.contenedor {
    width: 64%;
    margin-left: 19%;
    margin-top: 1%;
}

#titulo1 {
    font-family: "Utopia", "Calisto MT", "Georgia", "Helvetica", "Arial";
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-size:4vw;
}

 
#camara{
    max-width: 300px;
}
  
#footer{
    background-color:#003a66;
    
}
.visible {
    display:block;
}
.oculta {
    display:none;
}
@media (max-width: 575px){
    img {
        width: 30%;
        float: right;
        position: relative;
    }
    #feca{
        left: 4%;
        top: -172%;

    }
    #ujed {
         float: left;
    }

}
    #Titulo_encuesta{
        font-family: Tahoma;
        font-size:1.5vw;
        color:#003A66;
        
    }